.avatar {
  height: 80px;
  width: 80px;
  padding: 3px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #83EAF1, #63A4FF) border-box;
  border: 3px solid transparent;
  border-radius: 50%;
}

.avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}