@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  font-family: "Poppins";
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1.5em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #10b981;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid #10b981;
}

button:hover {
  background-color: #059669;
}
